* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Path: style.css */

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav .logo a {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

}

.titlebar em {
    color: #000000;
    font-size: 42px;
    margin: 0 16px 0 0;
}

/* GAME BOARD */

.game-module {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}

form .create-group-of-four {
    margin-bottom: 20px;
    font-size: small;
    color: grey;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
}

.row-one, .row-two, .row-three, .row-four {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.row-one label {
    position: relative;
    display: flex;
    z-index: 1;
}

.row-two label {
    display: flex;
    z-index: 1;
}

.row-three label {
    display: flex;
    z-index: 1;
}

.row-four label {
    display: flex;
    z-index: 1;
}

.catagory-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}

.catagory-info h2, .catagory-info h4 {
    position: relative;
    display: flex;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;

}

.catagory-info h2 {
    font-size: 24px;
}

.catagory-info h4 {
    color: #000000;
    font-size: small;
}


.game-board label {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 150px;
    font-size: 20px;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    color: #000;
    background: #EFEFE6;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

form span {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mistakes-module {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
}

.mistakes-module p {
    font: 16px;
    font-size: medium;
    color: #000;
}

.errors {
    display: flex;
    justify-content: left;
    width: 150px;
   
}

.errors span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-weight: 100;
    color: #666666;

}

.errors span i {
    display: inline-block;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: #666666;
    vertical-align: middle;
    border-radius: 50%;
}

.button-module {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-module button {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    border-color:rgb(0,0,0);
    

    font: 16px;
    padding: 15px 0px;
    font-weight: 600;
    display: flex;
    width: fit-content;
    min-width: 5.5em;
    max-width: 80vw;
    height: 3em;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    line-height: 1.5em;
    cursor: pointer;
    border: 1px solid;
}

@media(max-width: 700px) {
    .game-board label {
        width: 96px;
        height: 96px;
        font-size: 16px;
    }
}

@media(max-width: 400px) {
    .game-board label {
        width: 80px;
        height: 80px;
        font-size: 12px;
    }
}

