* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Path: style.css */

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav .logo a {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

}

.titlebar em {
    color: #000000;
    font-size: 42px;
    margin: 0 16px 0 0;
}

/* TOOLBAR */
.toolbar-container {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;

    

    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

}

.toolbar {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;

    margin-right: 64px;
}

.toolbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style: none;

}

.toolbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    transition: 0.3s;

}

.toolbar li a:hover {
    background-color: rgba(128,128,128, 0.25);

}

.toolbar li a img {
    width: 16px;
    height: 16px;
    background-color: transparent;
    cursor: pointer;

}

#h2p-container {
    position: absolute;
    display: none;
    justify-content: bottom;
    flex-direction: column;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -320px;
    background-color: #fff;
}

#h2p-container ul {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: row;
    list-style: none;
    margin-right: 20px;
    padding: 10px;
}

#h2p-container ul li a{
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
}

#htp-container ul li {
    
}

#h2p-container ul li a {
    
}

#h2p {
    position: relative;
    display: flex;
    justify-content: bottom;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

#h2p img {
    width: 632px;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 97%;
    display: none;
}

/* GAME BOARD */

.game-module {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}

form .create-group-of-four {
    margin-bottom: 20px;
    font-size: small;
    color: grey;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
}

.row-one, .row-two, .row-three, .row-four {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.row-one label {
    position: relative;
    display: flex;
    z-index: 1;
}

.row-two label {
    display: flex;
    z-index: 1;
}

.row-three label {
    display: flex;
    z-index: 1;
}

.row-four label {
    display: flex;
    z-index: 1;
}

.catagory-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}

.catagory-info h2, .catagory-info h4 {
    position: relative;
    display: flex;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;

}

.catagory-info h2 {
    font-size: 24px;
}

.catagory-info h4 {
    color: #000000;
    font-size: small;
}


.game-board label {
    user-select: none;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 150px;
    font-size: 20px;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    color: #000;
    background: #EFEFE6;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

form span {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mistakes-module {
    display: flex;
    flex-direction: row;

    margin-top: 20px;
}

.mistakes-module p {
    font: 16px;
    font-size: medium;
    color: #000;
}

.errors {
    display: flex;
    justify-content: left;
    width: 150px;
    animation-delay: 1s;
   
}

.errors span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-weight: 100;
    color: #666666;

}

.errors span i {
    display: inline-block;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: #666666;
    vertical-align: middle;
    border-radius: 50%;
}

@keyframes shake {
    
    0% { transform: translate(1px, 1px) rotate(0deg) scale(1.1); }
    20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.1); }
    40% { transform: translate(1px, -1px) rotate(1deg) scale(1.1); }
    60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.1); }
    80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.1); }
    100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.1); }
}



.button-module {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-module button {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    border-color:rgb(0,0,0);
    

    font: 16px;
    padding: 15px 0px;
    font-weight: 600;
    display: flex;
    width: fit-content;
    min-width: 5.5em;
    max-width: 80vw;
    height: 3em;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    line-height: 1.5em;
    cursor: pointer;
    border: 1px solid;
}

@media(max-width: 700px) {
    .game-board label {
        width: 92px;
        height: 92px;
        font-size: 16px;
    }
}

@media(max-width: 400px) {
    .game-board label {
        width: 80px;
        height: 80px;
        font-size: 12px;
    }
}

